<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <variable name="Layout"
            value="[${level:uppercase=true}:${date:format=dd-MM-yyyy HH\:mm\:ss} - ${logger}]${newline}${message}${exception}"/>
  <variable name="Regex" value="\[(.*?)\]"/>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="${shortdate}.log" layout="${Layout}" />

    <target name="console" type="ColoredConsole" layout="${Layout}" detectConsoleAvailable="False" useDefaultRowHighlightingRules="True">
      <highlight-word  regex="\[(.*?)\]"  foregroundColor="DarkGreen" />
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Skip Microsoft EF logs -->
    <!--<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="blackhole" final="true"></logger>-->
    <logger name="Quartz.*" minlevel="Trace" writeTo="blackhole" final="true"></logger>

    <logger name="*" minlevel="Trace" writeTo="console" />
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>